DATABASE_URL=postgresql+psycopg://enrique:25450712@localhost:5433/expense_manager




#verificar
#python -c "from app.db.session import engine; print(engine.url)"  


# #DATABASE_URL = (
#     "postgresql+psycopg://"
#     "enrique:2540712"
#     "@localhost:5433/expense_manager"
# )


